/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

 .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

header {
  h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
  }
}

footer {
  text-align: center;
}

h4 {
  margin-left: 3rem;
}

.auth {
  padding: 0.4rem;
  padding-right: 2rem;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(190, 190, 190);
  text-align: right;
  display: block;
  a {
    color: rgb(255, 255, 255);
  }
}

.panel {
  margin-top: 2rem;
  margin-left: 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  .panel-heading {
    height: 5.5rem;
  }
}

.imagelist {
  list-style: none;
  li {
    display: inline-block;
  }
}
