// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modifybuttons {
  float: right;
  .edit {
    display: inline-block;
  }
  .delete {
    display: inline-block;
  }
}

.imagetitle {
  display: inline-block;
  float: left;
  margin: 0;
}

figcaption {
  font-style: italic;
}

// .editform {
//   input, textarea {
//     height: 4rem;
//   }
//   textarea {
//     height: 9rem;
//   }
// }
